body {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      #989898;
  background-blend-mode: multiply, multiply;
  height: 100vh;
  
}

.col-md-5 {
  margin-top: 150px !important;
  background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
 background-blend-mode: multiply;
}
tr {
  border-style: hidden !important;
}
input {
  width: 100% !important;
  border-radius: 10px;
  border: 2px solid whitesmoke !important;
}
button {
  width: 100% !important;
  background-image: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%);
  border-color: whitesmoke;
  font-weight: bold;
  border-radius: 10px !important;
}
h1{
  font-weight: bold !important;
  color: #989898;
}